.tooltip {
    margin-top: 15px;
}
.tooltip-inner {
    padding: 10px;
    background-image: $gradient;
    color: #fff;
}

#email > .tooltip-arrow::before,
#github > .tooltip-arrow::before,
#linkedin > .tooltip-arrow::before,
#telegram > .tooltip-arrow::before,
#rsschool > .tooltip-arrow::before,
#udemi > .tooltip-arrow::before {
    bottom: 0px;
    border-bottom: 5px solid #177c8a;
}
