// COLORS
$dark-theme: black;
$text-color: rgba(255, 255, 255, 0.8);
$purple-color: #9d3481;
$light-purple-color: #b2639d;
$blue-dark-color: #2a4482;
$blue-bright-color: #3d75f9;
$green-bright-color: #8bc34a;
$gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(10deg, #9d3481, #2a4482);

// OTHER
$transition: all 0.3s linear;

// JUST IN CASE
$dark-blue-background: #020d1c;
