$dark-theme: #0c0c0c;
$coral-color: #03b1c8;
$coral-light-color: #56becb;
$stone-color: #607d8b;
$stone-light-color: #618da2;
$text-color: rgba(255, 255, 255, 0.8);

$gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(10deg, #607d8b, #03b1c8);

$opposite-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(10deg, #03b1c8, #607d8b);

$transition: all 0.3s linear;
