@import "../../styles/variables.scss";

.summary {
    position: relative;
    width: 100%;
    color: $text-color;
    font-size: 16px;

    &__text {
        width: 100%;
        font-size: 20px;
        line-height: 33px;
        text-align: justify;

        @media screen and (max-width: 695px) {
            font-size: 16px;
            line-height: 27px;
        }
    }
}
